html {
    background-color: rgb(210, 183, 162);
}

h1 {
    color: red;
}

h2 {
    color: rgb(236, 12, 12);
    font-family: 'Teddy Bear', sans-serif;
    font-size: 40px;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
    text-shadow: 3px;
    font-size: 50px ;
}

.big_text {
    font-size: 24px;
}

ul {
    list-style: square;
}

@font-face {
    font-family: 'Teddy Bear';
    src: url('fonts/teddy_bear.eot');
    /* IE 9 Compatibility Mode */
    src: url('fonts/teddy_bear.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('fonts/teddy_bear.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/teddy_bear.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('fonts/teddy_bear.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/teddy_bear.svg#teddy_bear') format('svg');
    /* Chrome < 4, Legacy iOS */
}

img:hover{
    border: 50px solid rgb(164, 0, 0) ;
}

img{
    margin-left: 50px;
    border: 10px solid white ;
}
#first image{
    margin-top: 500px;
}
